*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    padding: 20px 50px;
    background-image: url(../assests/pics/shutterstock_1692370762.jpg);
    background-repeat: no-repeat;
    background-position: center;/*to change the position of the image*/
}
nav{
    width: 100%;
    /*height: 200px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*navigation*/
/*.navigation{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    align-self: center; 
    text-align: center;
}*/
.navigation ul {
    display: flex;
    flex-direction: row;
    width: 300px; /*new*/
    justify-content: space-between; /*new*/
}
.navigation ul li a{
    color: black;
    /*how to add spaces between them*/
}
/*button*/
.button {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-between;
}
.log_in {
    background-color: pink;
    color: white;
    border-radius: 5px;
    border: 2px solid pink;
}
.sign_up{
    background-color: pink;
    color: white;
    border-radius: 5px;
    border: 2px solid pink;
}
/*.login{
    width: 130px;
    height: 50px;
    background-color: pink;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.signup{
    width: 130px;
    height: 50px;
    background-color: pink;
    border-radius: 20px;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}*/
section{
    text-align: end;
}
.heading{
    line-height: 1.5;
    font-size: 35px;
}
.body{
    line-height: 1.3;
    font-size: 20px;
}
.text h1{
    color: rgb(52, 52, 112);
}
.text h2{
    color:rgb(231, 92, 115);
}
.text p{
    color:rgb(156, 156, 156);
    font-size: 20px;
}
.text h4{
    word-spacing: 30px;
    font-size: 30px;
}
.text h4 a{
    color: black;
}
/*.platforms ul{
    display: flex;
    flex-direction: row;
}
.platforms ul li{
    text-align: right;
}*/
/*buttons_2*/
.buttons_2{
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-between;
}
input {
    width: 180px;
    padding: 12px 20px;
    border-radius: 20px;
    background-color: rgb(200, 255, 255);
}
.get_started {
    background-color: pink;
    color: white;
    border-radius: 5px;
    border: 2px solid pink;
}



